.header {
  text-align: center;
}
  .main {
 display: flex;
}
img.photo {
display: block;
width: 220px;
height: 260px;
margin: 0 auto;
}
.main ol {
  font-size: 22px;
  margin:auto;
  flex-direction: column
}
body {
  background-color: #90EE90;
}